<%- include('nav') %>
        <h3 class="mx-5 my-2 text-[23px] font-bold">BROWSE</h3>
        <p class="text-[#777E90] mx-5">Browse Your Favorite Anime</p>
        <div class="grid grid-cols-1 sm:grid-cols-4 *:m-4 lg:grid-cols-4 xl:grid-cols-4 gap-6 mt-7 z-20 relative">
          <% animeList.forEach(val => { %>
          <a href="/anime/<%= val._id  %>">
            <div class="card h-full bg-card_bg rounded-xl">
              <img class="h-[80%] object-cover w-full" src="<%= val.image %>" alt="">
              <div class="text-are p-[11px] px-[12px] overflow-hidden">
                <div class="title"><%= val.name %></div>
                <div class="generes text-[#777E90]"><%= val.genres %></div>
              </div>
            </div>
          </a>
          
          <% }); %>
        </div>
        <%- include('footer') %>
